In [1]:
import pandas as pd

In [2]:
# 1. Загружаем данные

In [3]:
df_customer=pd.read_csv('project/olist_customers_dataset.csv')
df_o_items=pd.read_csv('project/olist_order_items_dataset.csv')
df_orders=pd.read_csv('project/olist_orders_dataset.csv')

In [4]:
# 2. Смотрим на содержание таблиц

In [5]:
df_customer.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [6]:
df_o_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [7]:
df_orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [8]:
# 3. Изучаем структуру столбцов

In [9]:
df_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [10]:
df_o_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [11]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [12]:
# 4. Смотрим количество уникальных покупателей в таблицах покупки и таблице заказчик

In [13]:
df_orders['customer_id'].nunique()

99441

In [14]:
df_customer['customer_id'].nunique()

99441

In [15]:
# 5. Соединяем таблицы покупок и заказчиков

In [16]:
df_customers_full = pd.merge(df_customer, df_orders, how='outer', left_on='customer_id', right_on='customer_id')

In [17]:
df_customers_full.shape

(99441, 12)

In [18]:
df_customers_full.columns

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state', 'order_id', 'order_status',
       'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date'],
      dtype='object')

In [19]:
df_customers_full.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13 00:00:00
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10 00:00:00
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15 00:00:00

In [20]:
# 6. Проверяем есть ли клиенты без заказов

In [21]:
df_customers_full['order_status'][df_customers_full['order_id'].isnull()].value_counts()

Series([], Name: order_status, dtype: int64)

In [22]:
# 7. Статусы покупок

In [23]:
df_customers_full['order_status'].value_counts()

delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: order_status, dtype: int64

In [24]:
# 8. min/max дата покупки в таблице

In [25]:
df_customers_full['order_purchase_timestamp'].min()

'2016-09-04 21:15:19'

In [26]:
df_customers_full['order_purchase_timestamp'].max()

'2018-10-17 17:30:18'

In [27]:
# 9. Выбираем данные с покупками совершенными в 17м году

In [28]:
df_customers_full = df_customers_full[(df_customers_full['order_purchase_timestamp']>='2017-01-01') & (df_customers_full['order_purchase_timestamp']<'2018-01-01')]

In [29]:
df_customers_full.shape

(45101, 12)

In [30]:
# 10. Считаем к-во заказов по статусам

In [31]:
orders_status = dict(df_customers_full['order_status'].value_counts())

In [32]:
print(orders_status)

{'delivered': 43428, 'shipped': 530, 'unavailable': 457, 'canceled': 265, 'processing': 240, 'invoiced': 175, 'created': 4, 'approved': 2}

In [33]:
# keep delivered, shipped, processing, invoiced, created, approved

In [34]:
# 11. Сheck unique status of order

In [35]:
len(df_customers_full.groupby(['order_id','customer_id']))

45101

In [36]:
df_customers_full.groupby('order_status')['order_purchase_timestamp'].agg('min')

order_status
approved       2017-02-06 20:18:17
canceled       2017-01-11 18:32:24
created        2017-11-06 13:12:34
delivered      2017-01-05 11:56:06
invoiced       2017-01-12 15:05:52
processing     2017-01-11 15:18:25
shipped        2017-01-08 19:27:22
unavailable    2017-01-20 10:31:53
Name: order_purchase_timestamp, dtype: object

In [37]:
df_customers_full.groupby('order_status')['order_purchase_timestamp'].agg('max')

order_status
approved       2017-04-25 01:25:34
canceled       2017-12-31 12:12:02
created        2017-12-05 01:07:58
delivered      2017-12-31 23:29:31
invoiced       2017-12-27 15:02:03
processing     2017-12-29 11:24:15
shipped        2017-12-31 15:16:07
unavailable    2017-12-30 10:52:01
Name: order_purchase_timestamp, dtype: object

In [38]:
# 12. Проверим заказы со статусами отличными от delivered or canceled

In [39]:
not_delivered = df_customers_full[['order_status', 'order_purchase_timestamp', 'order_estimated_delivery_date']][~df_customers_full['order_status'].isin(['delivered', 'canceled'])]

In [40]:
not_delivered.shape

(1408, 3)

In [41]:
not_delivered.head()

    order_status order_purchase_timestamp order_estimated_delivery_date
100      shipped      2017-08-11 23:47:48           2017-09-11 00:00:00
113      shipped      2017-12-21 09:01:00           2018-01-10 00:00:00
133     invoiced      2017-09-01 15:02:24           2017-09-15 00:00:00
246   processing      2017-12-04 10:09:35           2018-01-05 00:00:00
288  unavailable      2017-02-01 00:04:17           2017-03-10 00:00:00

In [42]:
not_delivered[['order_purchase_timestamp', 'order_estimated_delivery_date']] = not_delivered[[ 'order_purchase_timestamp', 'order_estimated_delivery_date']].apply(pd.to_datetime)
not_delivered['datediff'] = (not_delivered['order_estimated_delivery_date'] - not_delivered['order_purchase_timestamp']).dt.days

In [43]:
not_delivered.sort_values(by=['datediff'], ascending=False).head()

,order_status,order_purchase_timestamp,order_estimated_delivery_date,datediff
3645,processing,2017-03-30 15:23:23,2017-08-22,144
9742,shipped,2017-03-14 19:23:22,2017-08-04,142
44213,processing,2017-02-10 11:11:05,2017-05-11,89
33009,processing,2017-02-23 12:18:09,2017-05-03,68
34764,processing,2017-02-01 15:21:50,2017-04-07,64

In [44]:
# 13. Исключим заказы с 'order_estimated_delivery_date' меньше конца 2017 года и со статусами approved, created, invoiced, processing, shipped, unavailable

In [45]:
exclude_orders = not_delivered[not_delivered['order_estimated_delivery_date']<'2018-01-01'].sort_values(by=['order_estimated_delivery_date'], ascending=False)

In [46]:
print(exclude_orders)

      order_status order_purchase_timestamp order_estimated_delivery_date  \
45228  unavailable      2017-11-24 21:03:55                    2017-12-29
33766     invoiced      2017-12-05 21:34:58                    2017-12-29
52441     invoiced      2017-12-10 18:43:03                    2017-12-29
20795     invoiced      2017-12-03 21:20:17                    2017-12-29
7582       shipped      2017-12-05 15:48:44                    2017-12-29
...            ...                      ...                           ...
24742  unavailable      2017-01-20 10:31:53                    2017-02-22
32562      shipped      2017-01-14 12:17:10                    2017-02-22
26110      shipped      2017-01-08 19:27:22                    2017-02-21
54026  unavailable      2017-01-26 16:51:32                    2017-02-21
81814      shipped      2017-01-13 20:12:41                    2017-02-09

       datediff
45228        34
33766        23
52441        18
20795        25
7582         23
...         ...
24742        32
32562        38
26110        43
54026        25
81814        26

[1292 rows x 4 columns]

In [47]:
exclude_orders.index

Int64Index([45228, 33766, 52441, 20795,  7582, 96658, 68795, 22581, 69249,
            51683,
            ...
             1163, 90599, 35371,  9738, 96859, 24742, 32562, 26110, 54026,
            81814],
           dtype='int64', length=1292)

In [48]:
df_customers_full.shape

(45101, 12)

In [49]:
df_customers_full.drop(exclude_orders.index, inplace=True)

In [50]:
# 14. Also exclude orders with status canceled

In [51]:
df_customers_full = df_customers_full[df_customers_full['order_status']!='canceled']

In [52]:
df_customers_full.shape

(43544, 12)

In [53]:
# 15. Находим первую покупку клиента в 2017 году

In [54]:
min_purchase_date = df_customers_full.groupby(['customer_unique_id'])['order_purchase_timestamp'].agg(min).reset_index()

In [55]:
min_purchase_date.head()

                 customer_unique_id order_purchase_timestamp
0  0000f46a3911fa3c0805444483337064      2017-03-10 21:05:03
1  0000f6ccb0745a6a4b88665a16c9f078      2017-10-12 20:29:41
2  0004aac84e0df4da2b147fca70cf8255      2017-11-14 19:45:42
3  0005e1862207bf6ccc02e4228effd9a0      2017-03-04 23:32:12
4  0006fdc98a402fceb4eb0ee528f6a8d4      2017-07-18 09:23:10

In [56]:
min_purchase_date.rename(columns = {'order_purchase_timestamp':'min_order_purchase_timestamp'}, inplace = True)

In [57]:
df_customers_full = pd.merge(df_customers_full, min_purchase_date, how='outer', left_on='customer_unique_id', right_on='customer_unique_id')

In [58]:
df_customers_full.columns

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state', 'order_id', 'order_status',
       'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'min_order_purchase_timestamp'],
      dtype='object')

In [59]:
# 16. Выделяем когорты по месяцам

In [60]:
df_customers_full['min_order_purchase_timestamp']=pd.to_datetime(df_customers_full['min_order_purchase_timestamp'])

In [61]:
df_customers_full['cohort']=df_customers_full['min_order_purchase_timestamp'].dt.to_period('M').dt.to_timestamp()

In [62]:
df_customers_full.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,min_order_purchase_timestamp,cohort
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,2017-05-16 15:05:35,2017-05-01
1,879864dab9bc3047522c92c82e1212b8,4c93744516667ad3b8f1fb645a3116a4,89254,jaragua do sul,SC,5741ea1f91b5fbab2bd2dc653a5b5099,delivered,2017-09-14 18:14:31,2017-09-14 18:25:11,2017-09-18 21:27:40,2017-09-28 17:32:43,2017-10-04 00:00:00,2017-09-14 18:14:31,2017-09-01
2,802bb9a59876a712f8380da8f297057c,4c93744516667ad3b8f1fb645a3116a4,89253,jaragua do sul,SC,98b737f8bd00d73d9f61f7344aadf717,delivered,2017-10-15 12:44:13,2017-10-15 13:05:29,2017-10-17 20:05:34,2017-10-25 17:00:04,2017-11-08 00:00:00,2017-09-14 18:14:31,2017-09-01
3,5e274e7a0c3809e14aba7ad5aae0d407,57b2a98a409812fe9618067b6b8ebe4f,35182,timoteo,MG,1093c8304c7a003280dd34598194913d,delivered,2017-11-16 19:29:02,2017-11-16 19:55:41,2017-11-22 16:46:33,2017-11-27 12:44:36,2017-12-08 00:00:00,2017-11-16 19:29:02,2017-11-01
4,9fb35e4ed6f0a14a4977cd9aea4042bb,2a7745e1ed516b289ed9b29c7d0539a5,39400,montes claros,MG,8428e578bb1cf839ae26a6b7615502b9,delivered,2017-11-27 17:23:20,2017-11-27 18:01:20,2017-11-28 23:04:41,2017-12-08 22:16:17,2017-12-20 00:00:00,2017-11-27 17:23:20,2017-11-01

In [63]:
# 17. Выделяем месяц в дате заказа

In [64]:
df_customers_full['order_purchase_timestamp']=pd.to_datetime(df_customers_full['order_purchase_timestamp'])

In [65]:
df_customers_full['order_purchase_month'] = df_customers_full['order_purchase_timestamp'].dt.to_period('M').dt.to_timestamp()

In [66]:
# 18. Новый столбец - какой должен быть 3й месяц покупки для когорты

In [67]:
df_customers_full['3d month'] = df_customers_full['cohort'] + pd.DateOffset(months=3)

In [68]:
# 19. Клиенты которые сделали покупку на 3й месяц с дня 1й покупки

In [69]:
customers_retained_3d_mnth = df_customers_full[df_customers_full['order_purchase_month']==df_customers_full['3d month']]['customer_unique_id'].unique()

In [70]:
len(customers_retained_3d_mnth)

71

In [71]:
# 20. Столбец-флаг, сделал ли клиент покупку на 3й месяц со дня первой покупки

In [72]:
df_customers_full['3d_month_retained'] = df_customers_full['customer_unique_id'].isin(customers_retained_3d_mnth)

In [73]:
# 21. Смотрим уникальніе значения 'cohort', 'customer_unique_id', '3d_month_retained'

In [74]:
df_cohorts = df_customers_full[['cohort', 'customer_unique_id', '3d_month_retained']].drop_duplicates()

In [75]:
retained_clients = df_cohorts.groupby('cohort')['3d_month_retained'].sum()

In [76]:
print(retained_clients)

cohort
2017-01-01     1
2017-02-01     2
2017-03-01    10
2017-04-01     4
2017-05-01    10
2017-06-01    13
2017-07-01     9
2017-08-01    11
2017-09-01    11
2017-10-01     0
2017-11-01     0
2017-12-01     0
Name: 3d_month_retained, dtype: int64

In [77]:
cohort_client_counts = df_cohorts.groupby('cohort')['customer_unique_id'].count()

In [78]:
print(cohort_client_counts)

cohort
2017-01-01     718
2017-02-01    1628
2017-03-01    2503
2017-04-01    2257
2017-05-01    3451
2017-06-01    3037
2017-07-01    3753
2017-08-01    4057
2017-09-01    4005
2017-10-01    4328
2017-11-01    7064
2017-12-01    5446
Name: customer_unique_id, dtype: int64

In [79]:
retained_clients/cohort_client_counts*100

cohort
2017-01-01    0.139276
2017-02-01    0.122850
2017-03-01    0.399521
2017-04-01    0.177226
2017-05-01    0.289771
2017-06-01    0.428054
2017-07-01    0.239808
2017-08-01    0.271136
2017-09-01    0.274657
2017-10-01    0.000000
2017-11-01    0.000000
2017-12-01    0.000000
dtype: float64

In [80]:
# Больше всего клиентов вернулось на покупку через 3 месяца из июнской когорты